@font-face {
    font-family: 'July it';
    src: url('Julyit.woff2') format('woff2'),
        url('Julyit.woff') format('woff'),
        url('Julyit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

